html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ededed;
}

body, h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Roboto';
}

button {
  cursor: pointer;
  outline: none;
}

.center {
  text-align: center;
  display: block;
}

span.footnote {
  font-size: 13px;
  padding: 10px 0;
}

span.footnote a {
  text-decoration: none;
  color: #2e9aff;
}

.navbar {
  background-color: #2e9aff;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.navbar h1 {
  font-size: 24px;
  margin: 0;
  color: #fff;
  font-weight: 400;
}

.content {
  max-width: 500px;
  margin: 30px auto;
}

.box {
  background-color: #fff;
  border-radius: 4px;
}

.new-tweet {
  padding: 20px;
}

.new-tweet h3 {
  margin: 0 0 10px;
  color: #666;
}

.new-tweet .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.new-tweet button {
  color: #fff;
  background-color: #2e9aff;
  padding: 8px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  display: block;
}

.new-tweet button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.new-tweet span {
  font-weight: 300;
  font-size: 13px;
}

.new-tweet span.error {
  color: #fc2e17;
}

.tweet {
  padding: 20px;
  margin-top: 15px;
}

.tweet h2 {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
}

.tweet p {
  font-size: 15px;
  color: #555;
  font-weight: 400;
  margin: 10px 0;
}

.tweet span {
  color: #777;
  font-weight: 300;
  font-size: 15px;
}

.tweet .buttons {
  padding: 10px 0;
  margin-top: 10px;
}

.tweet button {
  border: none;
  background-color: #f2f2f2;
  padding: 4px 15px;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 300;
}

.tweet input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #f0f0f0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 13px;
  outline: none;
}

.tweet button.liked {
  background-color: #fc3645;
  color: #fff;
}

textarea {
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
  resize: none;
  display: block;
  width: 100%;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  padding: 10px;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  color: #222;
}

.auth {
  padding: 20px;
}

.auth h2 {
  margin: 0 0;
  font-size: 16px;
  margin-bottom: 15px;
  color: #333;
}

.input-group {
  display: block;
  margin-bottom: 15px;
}

.input-group span {
  margin-bottom: 5px;
  display: block;
  font-size: 13px;
  color: #888;
}

.auth input {
  padding: 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  border: 1px solid #f1f1f1;
  font-size: 14px;
}

.auth button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #2e9aff;
  color: #fff;
  font-size: 13px;
  display: block;
  width: 100%;
}
